{% extends 'base.html' %} {% block style %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
/>
<style>
  .workspaces_div {
    display: none;
  }

  #margin_category {
    display: none;
  }
  .margin_article_div {
    margin: 1.5% 1.5% 1.5% 1.5%;
  }
</style>
{% endblock style %} {% block content %}

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-6 is-offset-3 mb-6">
        <section class="hero">
          <div class="hero-body">
            <p class="title">Podo Chatting</p>
            <p class="subtitle">Podo Public Chatting Room</p>
          </div>
        </section>
      </div>

      <div class="column is-4 is-offset-4">
        <div class="field">
          <label>입장할 채팅방을 선택하세요</label>
          <br />
          <div class="select">
            <select id="room-name-input">
              {% for workspace in workspaces %}
              <option value="{{ workspace }}">{{ workspace }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="field">
          <label for="username-input">아이디</label>

          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="{{ username }}"
              id="username-input"
              disabled
            />
          </div>
        </div>

        <div class="field">
          <div class="control">
            <a class="button is-info" id="room-name-submit">채팅하기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %} {% block script %}

<script>
  const user = "{{ username }}";
  document.querySelector("#room-name-input").focus();

  document.querySelector("#room-name-submit").onclick = function (e) {
    const roomName = document.querySelector("#room-name-input");
    // console.log(roomName.value);
    // const userName = document.querySelector("#username-input").value;

    if (roomName) {
      window.location.replace(roomName.value + "/?username=" + user);
    } else {
      alert("방을 선택하세요");
    }
  };
</script>
{% endblock script %}
