{% if not workspace_indivisual.pk %}

{% else %}
  <ul class="workspaces_ul margin_category">
    {% if not workspace_indivisual.category_set.all %}
      <br>
      <a> 카테고리를 </a>
      <br>
      <a>만들어보세요!</a>
    {% endif %}
  {% for category in workspace_indivisual.category_set.all %}

    <li class="workspaces_li">
      <a href="{% url 'articles:index_article' workspace_indivisual.pk category.pk %}" class="mt-2">{{ category.name }}</a>
    </li>
  {% empty %}
  {% endfor %}

  <button type="button" style="width:65%" class="btn btn-primary make_create my-5" data-bs-toggle="modal" data-bs-target="#categorymodal">
    +
  </button>

  </ul>

  <div class="modal fade" id="categorymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">카테고리 만들기</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
              <form action=" {% url 'workspaces:create_category' workspace_indivisual.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ category_form }}
                <button type="submit" class="btn btn-primary">만들기</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              </form>
          </div>

          <div class="modal-footer">
          </div>

        </div>
      </div>
    </div>
{% endif %}