<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <style>
    * {
    font-family: 'GmarketSansMedium';
    }

    @font-face {
      font-family: 'GmarketSansMedium';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    html,
    body {
      width: 100%;
      height: 100%;
    }
  </style>
  {% block style %}
  {% endblock style %}
  <title>Document</title>
</head>
<body>
  {% load static %}
  <section class="d-flex container-fluid p-0" style="width: 100vw;">
    <div class="row" style="width: 100vw;">
      <img class="col-6 p-0" src="{% static '포도 로그인1.png' %}" alt="이미지" style="height: 100vh;">
      <div class="col-6 p-0 flex-grow d-flex justify-content-center align-items-center">
        <div class="card d-flex flex-column justify-content-center" style="width: 28rem; height: 45rem;">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
    <a style="position: fixed; color:white; text-decoration : none; font-weight : bold; font-size: 20px; bottom: 10px; left: 25vw; transform: translate(-50%, 0);" >podo</a>
    <a style="position: fixed; color:black; text-decoration : none; font-weight : bold; font-size: 20px; bottom: 10px; right: 25vw; transform: translate(50%, 0);" >podo</a>
    <img style="position: fixed; bottom: 0px; right: 30px;" src="{% static '마스코트.png' %}" alt="이미지">
  </section>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  {% block script %}
  {% endblock script %}
</body>
</html>