{% extends 'account/base.html' %}

{% block style %}
<style>
  label {
    color: #484848;
    display: block;
  }

  .input-control {
    width: 60%;
  }

  .input-control input {
    background: #EFEFEF;
    border: 0;
    outline: 0;
    width: 100%;
    height: 45px;
  }

  .card {
    width: 60%;
  }

  .social_providers_list img {
    width: 32px;
    height: 32px;
  }
  
</style>
{% endblock style %}

{% block content %}
<form class="d-flex flex-column align-items-center" action="{% url 'account_login' %}" method="POST">
  {% csrf_token %}
  <div class="fs-2 fw-bold mb-4" style="color: #484848;">
    로그인
  </div>
  <div class="input-control">
    {{ form.non_field_errors }}
    <div class="my-4">
      {{ form.login.errors }}
      {{ form.login }}
    </div>
    <div class="my-4">
      {{ form.password.errors }}
      {{ form.password }}
    </div>
    <button type="submit" class="btn mt-3 mb-1 text-white" style="background-color: #915CAC; width: 100%; height: 45px;">로그인</button>
  </div>
    <div class="container flex-row" style="padding: 0 17px; margin: 5px 0;">
      <div class="row">
        <div class="col-2"></div>
        <div class="col">
          {{ form.remember.errors }}
          {{ form.remember }} 아이디 저장
        </div>
      </div>
    </div>
</form>
<div class="d-flex flex-column align-items-center">
  <div class="my-2">
    <a class="button text-decoration-none" href="{% url 'account_reset_password' %}" style="color: #484848;">비밀번호를 잊어버리셨나요?</a>
  </div>
  <div class="my-1">
    <a class="text-decoration-none" href="{{ signup_url }}" style="color: #484848;">계정이 없으시나요?</a>
  </div>
</div>

{% load account socialaccount %}
{% load static %}
{% get_providers as socialaccount_providers %}

<ul class="d-flex justify-content-evenly social_providers_list mt-4 mx-5 px-3">
  <a href="{% provider_login_url 'kakao' %}">
    <img src="{% static 'kakao.png' %}" alt="카카오">
  </a>
  <a href="{% provider_login_url 'github' %}">
    <img src="{% static 'github.png' %}" alt="깃허브">
  </a>
  <a href="{% provider_login_url 'google' %}">
    <img src="{% static 'google.png' %}" alt="구글">
  </a>
  <a href="{% provider_login_url 'naver' %}">
    <img src="{% static 'naver.png' %}" alt="네이버">
  </a>
</ul>
{% endblock content %}