{% extends "account/base.html" %}

{% block style %}
<style>
    label {
    color: #484848;
    display: block;
    }

    form > p {
    width: 60%;
    margin: 5px;
    }

    input {
    background: #EFEFEF;
    border: 0;
    outline: 0;
    width: 100%;
    height: 35px;
    }
</style>
{% endblock style %}

{% block content %}
    <h1>{% if token_fail %}잘못된 토큰{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
    {% else %}
        <form class="d-flex flex-column align-items-center" method="POST" action="{{ action_url }}">
            <div class="fs-2 fw-bold mb-4" style="color: #484848;">
                새로운 비밀번호 입력
            </div>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn my-3 text-white" style="background-color: #915CAC; width: 60%;">비밀번호 변경</button>
        </form>
    {% endif %}
{% endblock %}

{% block script %}
<script>
    const input = document.querySelectorAll('input')
    input[1].placeholder = ''
    input[2].placeholder = ''
    
    const label = document.querySelectorAll('label')
    label[0].innerText = '새로운 비밀번호'
    label[1].innerText = '비밀번호 확인'
</script>
{% endblock script %}