{% extends "account/base.html" %}

{% load account %}

{% block style %}
<style>
    label {
    color: #484848;
    display: block;
    }

    form > p {
    width: 60%;
    margin: 2px;
    }
</style>
{% endblock style %}

{% block content %}
<form method="POST" class="d-flex flex-column align-items-center" id="forgot_password_form" action="{% url 'account_reset_password' %}">
    <div class="fs-2 fw-bold mb-4" style="color: #484848;">
        비밀번호 찾기
    </div>
    <div class="forgot_password_info" style="width: 60%;" >
        아래에 당신의 이메일을 입력하시면, 비밀번호 초기화 이메일을 전송해 드리겠습니다.
    </div>

    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn my-3 text-white" style="background-color: #915CAC; width: 60%;">비밀번호 초기화</button>
</form>
{% endblock %}
