{% extends 'base.html' %}
{% load static %}

{% block style %}
  <style>
    .margin_article_div {
      margin : 1.5% 1.5% 1.5% 1.5%;
    }

    .workspaces_div {
      display: none;
    }

    #margin_category {
      display: none;
    }

    .base_div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    input {
      background: #EFEFEF;
      border: 0;
      outline: 0;
      width: 100%;
      height: 35px;
    }

    ul {
      list-style: none;
      padding: 0;
    }
  </style>
{% endblock style %}


{% block content %}
  <div class="card d-flex flex-column justify-content-center align-items-center" style="width: 28rem; height: 36rem;">
    <div class="fs-2 fw-bold my-4" style="color: #484848;">
      개인정보 변경
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center" style="margin-bottom: 5px;">
      <div class="d-flex justify-content-center align-items-center" style="border:1px solid #9CA3AF; border-radius: 5px; width: 120px; height: 120px; margin-bottom: 5px;">
        {% if user.image %}
          <img src="{{ user.image.url }}" alt="프로필 이미지" style="height: 80%; width: 80%;">
        {% else %}
          <img src="{% static '마스코트.png' %}" alt="프로필 이미지">
        {% endif %}
      </div>
      <form action="{% url 'accounts:delete_image' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn m-1 text-white" style="background-color: #915CAC; width: 95%;">이미지 삭제</button>
      </form>
    </div>
    <form action="{% url 'accounts:update' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="formFile" class="form-label">프로필 이미지 업로드</label>
        <input class="form-control" type="file" name="image" accept="image/*"  id="formFile">
      </div>
      <div>
        {{ form.username.errors }}
      </div>
      <div>
        닉네임
      </div>
      <div>
        {{ form.username }}
      </div>
      <button type="submit" class="btn my-4 text-white" style="background-color: #915CAC; width: 100%; height: 45px;">변경</button>
    </form>
    <!-- Button trigger modal -->
    <div class="d-flex justify-content-evenly" style="width: 100%;">
      <button type="button" class="btn my-3" style="background-color: #915CAC; width: 30%; margin-left: 20px;">
        <a href="{% url 'accounts:password_change' %}" class="text-decoration-none text-white">
          비밀번호 변경
        </a>
      </button>
      <button type="button" class="btn my-3 text-white" style="background-color: #DB5D83; width: 30%; margin-right: 20px;" data-bs-toggle="modal" data-bs-target="#accountModal">
        회원탈퇴
      </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            정말 회원을 탈퇴하시겠습니까?
          </div>
          <div class="modal-footer">
            <form action="{% url 'accounts:delete' %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn text-white" style="background-color: #DB5D83;">네</button>
            </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}