.container-form {
  display: grid;
  grid-template-areas:'title title title aside'
                      'main main main aside'
                      'main main main aside'
                      'image image file file'
                      'button1 button1 button2 button2';
}

.container-form label {
  color: white;
}

.article-title {
  grid-area: title;
  margin-bottom: 15pt;
  border: 1px solid #A5A5A5;
}

.summernote-div{
  grid-area: main;
}

.article-priority {
  grid-area: aside;
  list-style: none;
}

.article-image {
  grid-area: image;
  margin-top: 10pt;
  margin-bottom: 15pt;
}

.article-file {
  grid-area: file;
  margin-top: 10pt;
  margin-bottom: 15pt;
}

.article-button1 {
  grid-area: button1;
}

.article-button2 {
  grid-area: button2;
}

.container-detail {
  display: grid;
  grid-template-areas: 'header header header header'
                      'title title title updated_at'
                      'content content content priority'
                      'images images files files'
                      'btn_update btn_update btn_delete btn_delete';
}

.detail-header {
  grid-area: header;
}

.detail-title {
  grid-area: title;
}

.detail-content {
  grid-area: content;
}

.detail-updated_at {
  grid-area: updated_at;
}

.detail-priority {
  grid-area: priority;
}

.detail-images {
  grid-area: images;
}

.detail-files {
  grid-area: files;
}

.detail-btn_update {
  grid-area: btn_update;
}

.detail-btn_delete{
  grid-area: btn_delete;
}