{% extends 'base.html' %}

{% block content %}
  <div class="container-detail">

    <div class="detail-header d-flex align-items-center fs-3 mb-3" style="background-color: #915CAC; color: #FFFFFF; border-style: none; border-radius: 5px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-card-text ms-3" viewBox="0 0 16 16">
        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
        <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
      </svg>
      <span class="ms-3">
        게시글
      </span>
    </div>

    <div class="detail-title">
      {{ article.title }}
      {{ article.user }}
    </div>

    <div class="detail-content">
      {{ article.content | safe }}
    </div>

    <div class="detail-updated_at">
      {{ article.updated_at }}
    </div>

    <div class="detail-priority">
      {{ article.priority }}
    </div>

    <div class="detail-images">
      {% for image in article.image_set.all %}
        <a href="/media/{{ image.image }}">{{ image.image }}</a>
      {% endfor %}
    </div>

    <div class="detail-files">
      {% for file in article.file_set.all %}
        <a href="/media/{{ file.file }}">{{ file.file }}</a>
      {% endfor %}
    </div>

    <div class="detail-btn_update">
      <button>update</button>
    </div>

    <div class="detail-btn_delete">
      <form action="{% url 'articles:delete_article' article.pk %}" method="POST">
        {% csrf_token %}
        <button>삭제하기</button>
      </form>
    </div>

  </div>
    

  <hr>

  <form action="{% url 'articles:create_comment' article.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="작성">
  </form>

  <br>

  {% for comment in comments %}
    {{ comment.user }} - {{ comment.content }}
    <form action="{% url 'articles:delete_comment' article.pk comment.pk %}" method="POST">
      {% csrf_token %}
      <button>삭제</button>
    </form>
    <br>
  {% endfor %}

{% endblock %}
