{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link href="{% static 'css/articles_css.css' %}" rel="stylesheet" type="text/css" />
{% endblock style %}

{% block content %}
  <div class="container-detail">

    <div class="detail-header d-flex align-items-center fs-3" style="background-color: #915CAC; border-style: none; border-radius: 5px;">
      <a href="{% url 'articles:index_article' article.workspace.pk article.category.pk %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-arrow-left-circle ms-4" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
      </a>
      <span class="ms-3" style="color: #FFFFFF;">
        게시글
      </span>
    </div>

    <div class="detail-title">
      <h5 style="margin-bottom: 0;">제목: {{ article.title }}</h5>
    </div>

    <div class="detail-content">
      {{ article.content | safe }}
    </div>

    <div class="detail-updated_at">
      {{ article.updated_at }}
    </div>

    <div class="detail-author">
      작성자: {{ article.user }}
    </div>

    <div class="detail-priority">
      {% if article.priority == '1'%}
        우선순위: 🔴
      {% elif article.priority == '2' %}
        우선순위: 🟡
      {% elif article.priority == '3' %}
        우선순위: 🟢
      {% endif %}
    </div>

    <div class="detail-images">
      <div>
        <이미지>
      </div>
      {% for image in article.image_set.all %}
        <a href="/media/{{ image.image }}">{{ image.image }}</a>
        <br>
      {% endfor %}
    </div>

    <div class="detail-files">
      <div>
        <파일>
      </div>
      {% for file in article.file_set.all %}
        <a href="/media/{{ file.file }}">{{ file.file }}</a>
        <br>
      {% endfor %}
    </div>

    <div class="detail-buttons">
      <form action="{% url 'articles:delete_article' article.pk %}" method="POST">
        {% csrf_token %}
        <button style="background-color: #666464; color: #FFFFFF; border-style: none; border-radius: 5px; width: 100px">삭제하기</button>
      </form>

      <div>
        <button style="background-color: #915CAC; color: #FFFFFF; border-style: none; border-radius: 5px; width: 100px; margin-left: 5px;">
          <a href="{% url 'articles:update_article' article.pk %}" style="text-decoration: none; color: #FFFFFF;">
            수정
          </a>
        </button>
      </div>
    </div>

    <form class="detail-comment-form" action="{% url 'articles:create_comment' article.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <button type="submit">작성</button>
    </form>

    <div class="detail-comments">
      <div>
        <댓글>
      </div>
      {% for comment in comments %}
        <span>{{ comment.user }} - {{ comment.content }}</span>
        <form style="display: inline;" action="{% url 'articles:delete_comment' article.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <input style="background-color: #666464; color: #FFFFFF; border-style: none; border-radius: 5px; width: 50px" type="submit" value="삭제">
        </form>
        <br>
        <span>{{comment.updated_at}}</span>
        <hr>
      {% endfor %}
    </div>

  </div>

{% endblock %}
