{% extends 'base.html' %}

{% block content %}
  
  <h1>Index</h1>
  <div>
    {{ todo_board.name }}
      <a data-board-pk={{todo_board.pk}} type="button" class="myBtn" data-bs-toggle="modal" data-bs-target="#board">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
      </a>

      <br>
      <div style="padding: 15px; overflow:auto; width:500px; height:150px; border: 1px solid black; border-radius: 5px;">
        {% for article in todo_articles %}
          <div style="border: 1px solid black; border-radius: 5px; padding: 3px; margin-bottom: 5px;">
            <a href="{% url 'articles:detail_article' article.pk %}" style="text-decoration:none; color: #484848;">
              {% if article.title|length > 10 %}
                {% if article.priority == '1' %}
                  🔴 {{ article.title | slice:":10" }} ...
                {% elif article.priority == '2' %}
                  🟡 {{ article.title | slice:":10" }} ...
                {% elif article.priority == '3' %}
                  🟢 {{ article.title | slice:":10" }} ...
                {% endif %}
              {% else %}
                {% if article.priority == '1' %}
                  🔴 {{ article.title | slice:":10" }}
                {% elif article.priority == '2' %}
                  🟡 {{ article.title | slice:":10" }}}
                {% elif article.priority == '3' %}
                  🟢 {{ article.title | slice:":10" }}
                {% endif %}
              {% endif %}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

    <hr>
    
    <div>
      {{ doing_board.name }}
      <a data-board-pk={{doing_board.pk}} type="button" class="myBtn" data-bs-toggle="modal" data-bs-target="#board">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
      </a>
      
      <br>
      <br>
      {% for article in doing_articles %}
      <a href="{% url 'articles:detail_article' article.pk %}" style="text-decoration:none; color: #484848;">{{ article.title }}</a>
      <br>
      {% endfor %}
    </div>
    
    <hr>
    
    <div>
      {{ issue_board.name }}
      <a data-board-pk={{issue_board.pk}} type="button" class="myBtn" data-bs-toggle="modal" data-bs-target="#board">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
      </a>
      
      <br>
      <br>
      {% for article in issue_articles %}
      <a href="{% url 'articles:detail_article' article.pk %}" style="text-decoration:none; color: #484848;">{{ article.title }}</a>
      <br>
      {% endfor %}
    </div>
    
    <hr>
    
    <div>
      {{ completed_board.name }}
      <a data-board-pk={{completed_board.pk}} type="button" class="myBtn" data-bs-toggle="modal" data-bs-target="#board">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
      </a>
    
      <br>
      <br>
      {% for article in completed_articles %}
      <a href="{% url 'articles:detail_article' article.pk %}" style="text-decoration:none; color: #484848;">{{ article.title }}</a>
      <br>
      {% endfor %}
    </div>
    
   <div class="modal fade" id="board">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="d-flex align-items-center fs-3 mb-3" style="background-color: #915CAC; color: #FFFFFF; border-style: none; border-radius: 5px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-card-text ms-3" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
              </svg>
              <span class="ms-3">
                게시글
              </span>
            </div>
            <form data-workspace-pk={{workspace.pk}} data-category-pk={{category.pk}} class="container-form dropzone" action="{% url 'articles:create_article' workspace.pk category.pk todo_board.pk %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form }}
  
              <div class="article-image d-flex justify-content-center">
                <label for="image" class="me-2" style="color: #484848;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark-image" viewBox="0 0 16 16">
                    <path d="M6.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                    <path d="M14 14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5V14zM4 1a1 1 0 0 0-1 1v10l2.224-2.224a.5.5 0 0 1 .61-.075L8 11l2.157-3.02a.5.5 0 0 1 .76-.063L13 10V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4z"/>
                  </svg>
                </label>
                <input type="file" name="image" id="image" multiple>
              </div>
              
              <div class="article-file d-flex justify-content-center">
                <label for="file" class="me-2" style="color: #484848;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
                    <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                  </svg>
                </label>
                <input type="file" name="file" id="file" multiple>
              </div>
  
              <div class="article-button1 d-flex justify-content-center">
                <button type="submit" class="btn" style="background-color: #915CAC; color: #FFFFFF; border-style: none; border-radius: 5px; padding: 5 80px; width: 200px;" id="board">확인</button>
              </div>

              <div class="article-button2 d-flex justify-content-center">
                <button class="btn" style="background-color: #666464; color: #FFFFFF; border-style: none; border-radius: 5px; padding: 5 80px; width: 200px;" data-bs-dismiss="modal">취소</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
{% endblock %}

{% block script %}
  <script>
    const myBtn = document.querySelectorAll('.myBtn')
    console.log(myBtn)
    myBtn.forEach((btn) => {
      btn.addEventListener('click', (e)=> {
        const boardPk = btn.dataset.boardPk
        console.log(boardPk)

        const form = document.querySelector('.container-form')
        form.addEventListener('submit', (e) => {
          e.preventDefault()

          const workspacePk = e.target.dataset.workspacePk
          const categoryPk = e.target.dataset.categoryPk
          e.target.action = `/articles/${workspacePk}/workspace/${categoryPk}/category/${boardPk}/board/create_article/`
          e.target.submit()
        })
      })
    })

  </script>
{% endblock %} 
