body{ -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; }


#schedule_title {
    position: relative;
    color: #484848; 
    font-size: 30px; 
    font-weight: 700; 
    left:10px; 
    top: 0px; 
    height: 30px; 
}

#schedule_title_deco {
    position: absolute;
    width: 98%; 
    height: 22px; 
    left: 0px;
    top: 20px;
    background-color: #E5CAEF; 
    z-index: 1;
}

#schedules_createbtn {
    position: relative;
    width: 200px;
    height: 20px;
    font-weight:700;
    font-size: 20px;
    color:#484848;
    text-decoration: none;
    float: right;
    top: 30px;
}

.schedules_calendar {
    width: 100%;
    height: 100%;
    /* font-size: 1rem; */
    margin : auto;
	background: #fff;
	color: #555;
    text-align: left;
}

.schedules_calendar tbody th:nth-of-type(7) { 
    color: rgb(248, 63, 63);
} 

.schedules_calendar tbody td:nth-of-type(7) .schedules_date { 
    color: rgb(248, 63, 63);
} 


.schedules_date {
    position: absolute;
    font-size: 1.3em;
    top: 3px;
    left: 5px;
    color: #636262;
}

.schedule_list {
    padding-left: 0px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    list-style: none;
}

.schedule_list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.schedule_list li:hover {
    cursor: pointer;
    color: #777;
    transition: 0.2s;
}

.schedules_calendar .schedules_month {
    color : #222222;
    font-weight: 800;
}

.schedules_calendar tr {
    width: 100%;
    height: 5%;
    font-size: 80%;
	color: #333333;
	font-weight: 600;
	text-transform: uppercase;
}

.schedules_calendar td {
    position: relative;
    width: 10%;
    height: 10%;
    padding: .25em .25em;
    border: 1px solid #E5E5E5;
  }

.schedules_calendar td div{
    padding-top: 10px;
    width: 7em;
    height: 5em;
  }

.schedules_calendar td div ul{
    width: 7em;
    height: 65%;
    overflow: auto;
  }

.schedules_calendar th {
    font-size: 1.5em;
  }
  
.left {
    float : left;
    margin : 10px;
}
    
.right {
    float : right;
    margin : 10px;
}

.schedule-priority {
    grid-area: aside;
    list-style: none;
}

.schedules_container_main {
    overflow: auto;
    width: 100%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 'left-header header right-header'
                         'left-aside main right-aside';
}

.schedules_header {
    grid-area: header;
    margin-bottom: 5%;
}

.schedules_main {
    grid-area: main;
}

.schedules_left-aside {
    grid-area: left-aside;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 150%;
}

.schedules_right-aside {
    grid-area: right-aside;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 150%;
}

.schedules_left-arrow:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
    transform: translateX(-2px);
  }

.schedules_right-arrow:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
    transform: translateX(2px);
}

#schedules_createbtn:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
    transform: translatey(-2px);
}

.schedules_create_modal_form {
    margin-top: 20px;
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-gap: 10px;
    grid-template-areas: 'title-label title-label'
                         'title title'
                         'content-label content-label'
                         'content content'
                         'priority-label priority-label'
                         'priority priority'
                         'start_date-label end_date-label'
                         'start-date end-date'
                         'start_time-label end_time-label'
                         'start-time end-time'
                         'button button';
}

.schedules_create_modal_form .my-schedule-title {
    grid-area: title;
    width: 95%;
    padding: 6px 8px;
    border-radius: 5px;
    margin: 0 10px 20px 10px;
    border: 2px solid #E5E5E5;
}

.schedules_create_modal_form .my-schedule-content {
    grid-area: content;
    width: 95%;
    padding: 6px 8px;
    border-radius: 5px;
    margin: 0 10px 20px 10px;
    border: 2px solid #E5E5E5;
}

.schedules_create_modal_form .my-schedule-priority {
    grid-area: priority;
    list-style: none;
    padding-left: 20px;
}

.schedules_create_modal_form .my-schedule-priority label {
    margin-right: 20px;
}

.schedules_create_modal_form .my-schedule-start_date {
    grid-area: start-date;
    margin: 0px 0px 10px 20px;
    width: 80%;
    padding: 3px 5px;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    text-align: center;
    margin-bottom: 10px;
}

.schedules_create_modal_form .my-schedule-end_date {
    grid-area: end-date;
    margin: 0px 0px 10px 20px;
    width: 80%;
    padding: 3px 5px;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    text-align: center;
    margin-bottom: 10px;
}

.schedules_create_modal_form .my-schedule-start_time {
    grid-area: start-time;
    margin: 0px 0px 10px 30px;
    width: 70%;
    padding: 3px 5px;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    text-align: center;
    margin-bottom: 10px;
}

.schedules_create_modal_form .my-schedule-end_time {
    grid-area: end-time;
    margin: 0px 0px 10px 30px;
    width: 70%;
    padding: 3px 5px;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    text-align: center;
    margin-bottom: 10px;
}

.schedules_create_modal_form .schedules_create_modal_btn {
    grid-area: button;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.schedules_create_modal_form .schedule-title-label {
    font-weight: 600;
    margin-left: 15px;
    font-weight: bold;
    grid-area:title-label;
}

.schedules_create_modal_form .schedule-content-label {
    font-weight: 600;
    margin-left: 15px;
    font-weight: bold;
    grid-area:content-label;
}

.schedules_create_modal_form .schedule-priority-label {
    font-weight: 600;
    margin-left: 15px;
    font-weight: bold;
    grid-area:priority-label;
}

.schedules_create_modal_form .schedule-start_date-label {
    font-weight: 600;
    text-align: center;
    font-weight: bold;
    grid-area:start_date-label;
}

.schedules_create_modal_form .schedule-end_date-label {
    font-weight: 600;
    text-align: center;
    font-weight: bold;
    grid-area:end_date-label;
}

.schedules_create_modal_form .schedule-start_time-label {
    font-weight: 600;
    text-align: center;
    font-weight: bold;
    grid-area:start_time-label;
}

.schedules_create_modal_form .schedule-end_time-label {
    font-weight: 600;
    text-align: center;
    font-weight: bold;
    grid-area:end_time-label;
}

.schedules_create_modal_form ul li {
    float: left;
}

.schedules_update_modal_form {
    padding-bottom: 0px;
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'title-labelu title-labelu'
                         'titleu titleu'
                         'content-labelu content-labelu'
                         'contentu contentu'
                         'priority-labelu priority-labelu'
                         'priorityu priorityu'
                         'start_date-labelu end_date-labelu'
                         'start_dateu end_dateu'
                         'start_time-labelu end_time-labelu'
                         'start_timeu end_timeu'
                         'button1 button2';
}
.schedules_update_modal_form .my-schedule-title {
    grid-area: titleu;
    width: 95%;
    padding: 6px 8px;
    margin: 0 10px 20px 10px;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
}

.schedules_update_modal_form .my-schedule-content {
    grid-area: contentu;
    width: 95%;
    padding: 6px 8px;
    border-radius: 5px;
    margin: 0 10px 20px 10px;
    border: 2px solid #E5E5E5;
}

.schedules_update_modal_form .my-schedule-priority {
    grid-area: priorityu;
    list-style: none;
    padding-left: 20px;
}

.schedules_update_modal_form .my-schedule-priority label {
    margin-right: 20px;
}

.schedules_update_modal_form .my-schedule-start_date {
    grid-area: start_dateu;
    margin: 0px 0px 10px 20px;
    width: 80%;
    padding: 3px 5px;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    text-align: center;
    margin-bottom: 10px;
}

.schedules_update_modal_form .my-schedule-end_date {
    grid-area: end_dateu;
    margin: 0px 0px 10px 20px;
    width: 80%;
    padding: 3px 5px;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    text-align: center;
    margin-bottom: 10px;
}

.schedules_update_modal_form .my-schedule-start_time {
    grid-area: start_timeu;
    margin: 0px 0px 10px 30px;
    width: 70%;
    padding: 3px 5px;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    text-align: center;
    margin-bottom: 10px;
}

.schedules_update_modal_form .my-schedule-end_time {
    grid-area: end_timeu;
    margin: 0px 0px 10px 30px;
    width: 70%;
    padding: 3px 5px;
    border-radius: 5px;
    border: 2px solid #E5E5E5;
    text-align: center;
    margin-bottom: 10px;
}

.schedules_update_modal_form .schedule-title-label {
    font-weight: 600;
    margin-left: 15px;
    font-weight: bold;
    grid-area:title-labelu;
}

.schedules_update_modal_form .schedule-content-label {
    font-weight: 600;
    margin-left: 15px;
    font-weight: bold;
    grid-area:content-labelu;
}

.schedules_update_modal_form .schedule-priority-label {
    font-weight: 600;
    margin-left: 15px;
    font-weight: bold;
    grid-area:priority-labelu;
}

.schedules_update_modal_form .schedule-start_date-label {
    font-weight: 600;
    text-align: center;
    font-weight: bold;
    grid-area:start_date-labelu;
}

.schedules_update_modal_form .schedule-end_date-label {
    font-weight: 600;
    text-align: center;
    font-weight: bold;
    grid-area:end_date-labelu;
}

.schedules_update_modal_form .schedule-start_time-label {
    font-weight: 600;
    text-align: center;
    font-weight: bold;
    grid-area:start_time-labelu;
}

.schedules_update_modal_form .schedule-end_time-label {
    font-weight: 600;
    text-align: center;
    font-weight: bold;
    grid-area:end_time-labelu;
}

.schedules_update_modal_Btn1 {
    margin: 10px 20px 20px 20px;
    grid-area: button1;
}

.schedules_update_modal_Btn2 {
    margin: 10px 20px 20px 20px;
    grid-area: button2;
}

.schedules_update_modal_form ul li {
    float: left;
}