{% load static %}

  <script>
  function view(btn_value) {
    if (btn_value == "삭제") {
        document.hide_and_show_form.sss.value = "비활성";
        const btnlist = document.querySelectorAll('#display_btn')
        for ( const btn of btnlist) {
          btn.style.display= 'block';
        }
    } else {
        document.hide_and_show_form.sss.value = "삭제";
        const btnlist = document.querySelectorAll('#display_btn')
        for ( const btn of btnlist) {
          btn.style.display= 'none';
        }
    }
};
  </script>
  <style>
#sss{
  background:#DB5D83;
  color:#fff;
  border:none;
  position:relative;
  height:37px;
  font-size:1em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 5px;
}
#sss:hover{
  background:#fff;
  color:#1AAB8A;
}
#sss:before,#sss:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#sss:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#sss:hover:before,#sss:hover:after{
  width:100%;
  transition:800ms ease all;
}



    .main_body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    }

    .left_body {
        margin-right: 100px;
        width: 500px;

        display: flex;
        flex-direction: column;
    }

    .right_body {
        
        width: 300px;
        height: 1000px;
        left: 72%;
        position: fixed
    }

    .feed_box {
        background-color: white;
        width: 480px;
        margin: 10px;
        min-height: auto;
    }

    .feed_img{
        width: 100%;
        object-fit: contain;
    }


    .profile_box {
        width: 40px;
        height: 40px;
        border-radius: 70%;
        overflow: hidden;
    }

    .profile_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .flex_item {
      justify-content: space-between;
      background-color : #310B31;
      padding: 0;
    }

    .nav_PODO {
      margin-left: 20px;
      text-decoration : none;
      font-weight : bold;
    }

    .nav_icon {
      margin-right: 20px;
      text-decoration : none;
      color : white;
    }

    .workspaces_ul {
      display: inline-block ;
      list-style-type: none;
      padding: 0;
  
      width: 5%;
      background-color: #543654;
      position: absolute;
      height: 94.8%;
      {% comment %} overflow: auto; {% endcomment %}
      -ms-overflow-style: none;
    } ::-webkit-scrollbar { display: none; }

    .create_workspace {
      margin-top: 100px;
      margin-left: 100px;
    }

    .workspaces_li a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
    }

    .workspaces_li a.active {
      color: white;
    }

    .workspaces_li a:hover:not(.active) {
      background-color: #000000;
      color: white;
    }

    .workspaces_modal { 
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%; 
      display: none; 
      background-color: rgba(0, 0, 0, 0.4); }

    .margin_create_workspace {
      margin-bottom : 10%;

    }
    .margin_category {
      margin-left :5%;
      background-color : #D8E0EC;
      text-align : center;
      justify-content : center;
      width: 10%;
      display: inline-block ;
      list-style-type: none;
      padding: 0;
      position: absolute;
      height: 94.882%;
      overflow: auto;
    }

    img { display: block; margin: 0px auto; }

    .jb {
      border-radius: 15px 15px;
    }

    .icons {
      text-decoration : none;
    }
    .category_delete {
      position: relative;
      bottom: 0;

    }

  </style>



<nav class="flex_item navbar navbar-expand-lg navbar-light " style="width: 100%; height: 50px;" >
  <div class="flex_item">
    <a href=" {% url 'workspaces:index' %} " class="nav_PODO" style="color:white; font-Bold" >podo</a>
    <!-- Button trigger modal -->
  </div>
  {% if workspace_pk %}
  <form class="d-flex" action="{% url 'workspaces:search' workspace_pk %}" method="GET">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="word" value="{{word}}">
    <button class="btn btn-outline-success" type="submit" class="material-icons">search</button>
  </form>
  {% endif %}
  <div class="nav_icon">
    <a href=" {% url 'chat:index' %} " style="color:white; text-decoration:none;">
    <span class="material-icons">chat</span>
    </a>
    <span class="material-icons">notifications_none</span>  
    <span class="material-icons">star_outline</span>  
    <span class="dropdown">
      <a style="color:white;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="material-icons">account_box</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="position: absolute; left: -233px; width: 257px; padding: 0px;">
        <div style="display: flex; justify-content: center; align-items: center; border-radius: 5px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; background-color: #D8E0EC; margin-bottom: 15px; color: #484848; height: 34px;">
          프로필
        </div>
        <div class="d-flex flex-column align-items-center">
          <div class="d-flex justify-content-center align-items-center" style="border:1px solid #9CA3AF; border-radius: 5px; width: 120px; height: 120px; margin-bottom: 5px;">
            {% if user.image %}
              <img src="{{ user.image.url }}" alt="프로필 이미지" style="height: 80%; width: 80%;">
            {% else %}
              <img src="{% static '마스코트.png' %}" alt="프로필 이미지">
            {% endif %}
          </div>
          <div style="border: 1px solid #9CA3AF; border-radius: 5px; width: 77%; display: flex; align-items: center; margin: 10px; color: #484848; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            이메일: {{ user.email }}
          </div>
          <div style="border: 1px solid #9CA3AF; border-radius: 5px; width: 77%; display: flex; align-items: center; margin: 10px; color: #484848; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            닉네임: {{ user.username }}
          </div>
          <div class="d-flex">
            <div style="border-radius: 5px; background-color: #915CAC; width: 120px; display: flex; justify-content: center; align-items: center; margin: 10px;">
              <a style="text-decoration: none; color: white;" href="/accounts/update/">개인정보 변경</a>
            </div>
            <form action="{% url 'accounts:logout' %}" method="POST">
              {% csrf_token %}
              <input style="border: none; border-radius: 5px; background-color: #DB5D83; width: 80%; display: flex; justify-content: center; margin: 10px; color: white;" type="submit" value="로그아웃">
            </form>
          </div>
        </div>
      </div>
    </span>
  </div>
</nav>

<div class="workspaces_div">
  <ul class="workspaces_ul" style="display: inline-block;">
  <div class="d-flex justify-content-between align-items-center flex-column" style="height: 99%; ">
    <div class="mb-auto p-2 bd-highlight">
      <li class="workspaces_li"><a class="active" href="#"></a></li>
      {% for work in workspaces %}  
        <li class="workspaces_li">
        {% if work.image %}
        <a href=" {% url 'workspaces:index_category' work.pk %} "><img class="jb" src="{{ work.image_thumbnail.url }}" alt="이미지"></a>
        <a style ="font-size: small;text-align : center; color:white">{{ work.name | slice:":3"}}</a> 
        <div id="display_btn" style="display: none;">
          <a style="font-size : xx-small;" href=" {% url 'workspaces:delete_workspace' work.pk %} ">삭제하기</a>
        </div>
        </li>
        {% endif %}
      {% endfor %}
    </div>
  <button type="button" style="width:100%; color: white; background-color: #915CAC;" class="btn  mt-auto margin_create_workspace " data-bs-toggle="modal" data-bs-target="#workspacemodal">
    생성
  </button>

  <form id="Event" method="post" name="hide_and_show_form">
    <input id="sss" name="hide_btn" type="button" value="삭제" onclick="view(this.value);">
  </form>

  
  </ul>
</div>

<!-- Modal -->
<div class="modal fade workspaces_modal" id="workspacemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Workspace 만들기</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action=" {% url "workspaces:create_workspace" %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ workspace_form.as_p }}
          <button type="submit" class="btn btn-primary">만들기</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>